
<div class="main_content">
    <div class="app_wrapper p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>photo-show works!</p>

                    <div class="img">
                        <button (click)="onClick()" class="btn btn-primary mb-5">Fetch New Image</button>
                        <img [src]="photoUrl">
                    </div>
                    <!-- <app-searchbar (submitted)="onTerm($event)"></app-searchbar>
                    <app-pagelist *ngIf="pages.length" [pages]="pages"></app-pagelist> -->
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
