<div class="link">
    <a [routerLink]="['/home']">Password Generator</a>
    <a [routerLink]="['/cards']">Binding Component</a>
    <a [routerLink]="['/typing']">Typing Challenge</a>
    <a [routerLink]="['/pipe']">Form using PIPE</a>
    <!-- <a [routerLink]="['/creditcard']">Credit Card</a> -->
    <a [routerLink]="['/directives']">Pagination using Directives</a>
    <a [routerLink]="['/page']">Page Modules</a>
    <a [routerLink]="['/wiki']">Wikipidea Search</a>
    <a [routerLink]="['/photo']">Photo Fetch App</a>
    <a [routerLink]="['/multiForm']">Credit Card Form</a>
    <!-- <a [routerLink]="['/templateForm']">Template Form</a> -->
    <!-- <a [routerLink]="['/page']">Page Modules</a> -->
    
    <!-- <a [routerLink]="['/empDetail']">Employee Detail</a> -->
</div>

<router-outlet></router-outlet>
