<div class="main_content">
    <div class="app_wrapper p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Page modules with Routerlink activities</h3>
                    <hr>
                    <div class="path_link">
                        <!-- <a routerLink="companies" routerLinkActive="active">Companies</a> -->
                        <a routerLink="Element" routerLinkActive="active">Elements</a>
                        <a routerLink="collection" routerLinkActive="active">Collections</a>
                        <!-- <a routerLink="Views" routerLinkActive="active">Views</a> -->
                        <a routerLink="Module" routerLinkActive="active">Module</a>
                        <!-- <a [routerLink]="['/Views']">Views</a>
                        <a [routerLink]="['/Module']">Module</a> -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>